{% extends "base.html" %}

{% block title %}About
{% endblock title %}

{% block body %}
  <div class = "container-about">
  <div class = "row">
  <div class = "col-md-5">
  <h1>About Us</h1>

  <p><b>AK Ice Creams isn’t just another ice cream company — we’re a flavor movement. We started with a freezer, a wild dream, and a hunger to turn ordinary ice cream into unforgettable chaos.</b></p>
      <p><b>We’re loud, we’re proud, and we’re here to melt hearts (and maybe a few cones). From fruity lollies to hardcore cones, every bite slaps with flavor. If you’re bored of bland, welcome to AK — where boring goes to die.</b></p>
      <br> 
      <br>
      <a class="btn btn-primary" href="/blog" role="button">learn more</a>

     </div> 
  <div class = "col-md-7">
          <img src='https://maketruescoops.com/cdn/shop/articles/vs_1024x.png?v=1739731405' class= "aboutimg" alt='About Us Image' >
    </div>

      </div>
      </div>

    

  
  </div>
{% endblock body %}


